<div id='messages-container'>


	<%= form_for @new_message do |f| %>
	<p>
		<%= f.label :message %>
		<%= f.text_field :message, :autofocus => true %>
	</p>
	<%= f.submit %>
	<% end %>

</div>

<script>vex.defaultOptions.className = 'vex-theme-flat-attack';</script>

<div class="blob">I'm not dynamic :(</div>

<script>
		$('.blob').on('click', function(){
		console.log('click click')
		blobs.modal({
			content: 'Hello?'
		});
	});
</script>


<a href="https://twitter.com/intent/tweet?screen_name=Bill_Searle&text=What%3F" class="twitter-mention-button" data-size="large" data-related="Bill_Searle">Tweet to @Bill_Searle</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>