html body{
  font-family: "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body{
  color: #EBEBEB;
  background: -webkit-radial-gradient(circle, #4B4B4B, #1C1C1C);
}
.home{
  height: 125px;
  width: 125px;
  // background-image: url(homewhite.png);
}
.quote{
  // border: 5px solid #EBEBEB;
  margin-top: 25%;
  margin-bottom: 25%;
}

.blob{
  height: 50px;
  width: 25px;
  border-radius: 10%;
  // border: 5px solid pink;
  // border-right: 10px solid red;
  // border-left: 10px solid red;
  // border-top: 10px solid grey;
  // border-bottom: 10px solid grey;
  background: url(http://www.freestockphotos.biz/pictures/11/11917/beer.png);
  background-size: cover;
  cursor: pointer;
  position: relative;
}

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);  
  }
  50% {
    transform: translateY(60%);  
  } 
  100% {
    transform: translateY(0%);
  }     
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%) rotate(-20deg);  
  }
  50% {
    -webkit-transform: translateY(8%) rotate(25deg);
    // transform: rotate(180deg);  
  } 
  100% {
    -webkit-transform: translateY(0%) rotate(-20deg);
    // transform: rotate(360deg);
  }     
}

// .floating{
//     animation-name: floating;
//     -webkit-animation-name: floating;

//     animation-duration: .7s; 
//     -webkit-animation-duration: .7s;

//     animation-timing-function: linear;
//     -webkit-animation-timing-function: linear;

//     animation-iteration-count: infinite;
//     -webkit-animation-iteration-count: infinite
//   }

//   @keyframes floating {
//     0% {
//       // height: 40px;
//       // width: 40px;
//       transform: rotate(0deg)
//     }
//     50%{
//       transform: rotate(180deg)
//       // height: 10px;
//       // width: 10px;
//     }
//     100% {
//       // height: 40px;
//       // width: 40px;
//       transform: rotate(360deg)
//     }
//   }