/*html body{
  height: 100%;
  width: 100%;
}
#messages-container{
  position: absolute;
  max-height: 100%;
  max-width: 100%;
}*/

.blob{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: grey;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

